.header__logo{
    top: 0;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    padding: 0px;
    width: 190px;
    height: auto;
}